#root {
    display: flex;

    flex-direction: column;
    align-items: center;
}

.nav-button {
    margin-left: 80px;
    background-color: transparent;
    border-style: none;
    font-size: 20px;

}
.nav-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.card {
    position: relative;
    width: 150px;
    height: 150px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

#home-page {
    margin-top: 80px;
    font-size: 200px;
}

.delete {
    position: absolute;
    bottom: 0;
    margin-left: 20px;

}